@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Whisper&display=swap");

html {
  --custom-red: #e6533c;
  --custom-gray: #222222;
  --custom-gradient: linear-gradient(black, #222222, black);
  box-sizing: border-box;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  min-width: 310px;
  font-family: "Inter", sans-serif;
  background: black;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
p,
a,
span,
b {
  letter-spacing: 0.5px;
  line-height: 24px;
}

.white_a {
  color: white;
}
a {
  transition: 0.6s;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
/* a:hover {
  color: var(--custom-red);
} */
.white_a:hover {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}
h1 {
  font-size: 2.25rem;
  font-size: clamp(2.25rem, 1.5rem + 3.75vw, 4.875rem);
}
h2 {
  font-size: 2rem;
  font-size: clamp(
    2rem,
    1.9285714285714286rem + 0.35714285714285715vw,
    2.25rem
  );
}
h3 {
  font-size: 1rem;
  font-size: clamp(
    1rem,
    1.9642857142857144rem + -1.0714285714285714vw,
    1.75rem
  );
}
h4 {
  font-size: 23px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.wrapper {
  margin-inline: auto;
  width: clamp(18.75rem, 5.178571428571427rem + 67.85714285714286vw, 66.25rem);
  overflow: hidden;
  padding-inline: 1rem;
  margin-bottom: 3rem;
}

.card {
  padding: 1rem;
}
.btn {
  transition: 0.6s;
  border-radius: 100px;
}
.btn:hover {
  background: var(--custom-red);
}

/* ********** header Secton ***********/

.headerSection {
  width: 100%;
  position: fixed;
  top: 0%;
  z-index: 100;
  /* background: #4545459b; */
}
.headerSectionAnimation {
  background: #4545459b;
}
.headerWrapper {
  position: relative;
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  margin-bottom: 0;
}

.menus {
  position: absolute;
  width: 100%;
  height: 60svh;
  top: 76px;
  /* right: -4rem; */
  background: black;
  border: 1px solid rgba(255, 255, 255, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 2px;
  transition: 0.6s;
  transform: scaleY(0);
  transform-origin: top;
}
.toggleAnimation {
  transform: scaleY(1);
}

.logo {
  font-style: italic;
  color: var(--custom-red);
  font-size: 36px;
}

.menuBtn {
  width: 70%;
  text-align: center;
  padding: 0.6rem 0.8rem;
}

.menusToggler {
  transition: 0.6s;
  color: white;
  font-size: 1.3rem;
}
.menusToggler:hover {
  color: var(--custom-red);
}
.menusTogglerAnimation {
  color: var(--custom-red);
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .menus {
    position: static;
    width: fit-content;
    height: auto;
    flex-direction: row;
    border-radius: 100px;
    transform: scaleY(1);
  }

  .menusToggler {
    display: none;
  }
}

@media (min-width: 993px) {
}

/************** hero section **************/

.heroSection {
  padding-top: 6rem;
  background: var(--custom-gradient);
  background-position: center;
}

.heroWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.uniqueFont {
  /* font-family: "Grey Qo", cursive; */
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-style: normal;
}

.heroBtns {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.eachHeroBtn {
  padding: 0.8rem 1.6rem;
  border: 1px solid;
  color: white;
}
.toggleClub {
  display: none;
}

.heroImage {
  position: relative;
  margin-inline: auto;
}

.heroImg {
  width: 100%;
}

.heroCard {
  position: absolute;
  background: #4545459b;
  /* backdrop-filter: blur(20px); */
  border-radius: 10px;
  font-size: 10px !important;
}

.firstCard {
  top: 30%;
  right: 10%;
}

.secondCard {
  bottom: 14%;
  left: 5%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.cardOrange {
  width: 1.5rem;
  height: 1.5rem;
  background: var(--custom-red);
  border-radius: 100%;
}

@media (min-width: 576px) {
  .toggleClub {
    display: inline;
  }
}

@media (min-width: 768px) {
  .heroWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

/************** habit section **************/

.habitswrapper {
  display: grid;
  gap: 3rem;
}
.habitsHeader {
  display: grid;
  gap: 1rem;
  text-align: center;
}
.allHabits {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}
.eachHabit {
  display: grid;
  gap: 1rem;
  text-align: center;
}
.habitImage {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 100%;
}

@media (min-width: 576px) {
  .allHabits {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 993px) {
  .allHabits {
    gap: clamp(2rem, -2.4429530201342278rem + 7.158836689038031vw, 4rem);
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/************** run section **************/

.runWrapper {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  background: var(--custom-gray);
  border-radius: 10px;
}
.runContent {
  display: grid;
  gap: 1rem;
}
.runBtn {
  max-width: 215px;
  padding: 0.5rem 2rem;
  color: white;
  background: var(--custom-red);
  text-align: center;
}
.runImage {
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: 10px;
  background: url(./images/run.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 576px) {
  .runWrapper {
    grid-template-columns: 1.5fr 1fr;
    gap: 2rem;
  }
  .runImage {
    aspect-ratio: auto;
  }
}

@media (min-width: 993px) {
  .runWrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 3rem;
  }
  .runContent {
    max-width: 400px;
  }
  .runImage {
    max-width: 270px;
  }
}

/************** trainings section **************/

.trainingsWrapper {
  display: grid;
  gap: 2rem;
}
.trainingsHeader {
  display: grid;
  gap: 1rem;
}
.trainingsImages {
  display: grid;
}

.firstImagesRow {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
}
.secondImagesRow {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
}
.firstImagesRow .eachTrainingsImages:nth-child(2) {
  display: none;
}
.secondImagesRow .eachTrainingsImages:nth-child(1) {
  display: none;
}

.eachTrainingsImages {
  position: relative;
  background-position: right;
  background-repeat: no-repeat;
}
.eachCardBG {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.eachTrainingName {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  z-index: 2;
}

@media (min-width: 576px) {
  .firstImagesRow .eachTrainingsImages:nth-child(2) {
    display: inline;
  }
  .secondImagesRow .eachTrainingsImages:nth-child(1) {
    display: inline;
  }
  .firstImagesRow {
    grid-template-columns: 1fr 2fr 1.1fr;
  }
  .secondImagesRow {
    grid-template-columns: 2fr 1fr 1.2fr;
  }
}

/************** BMI Header section **************/

.bmiHeader {
  display: grid;
  gap: 0.5rem;
}

/************** BMI section **************/

.bmiSection {
  background: var(--custom-gray);
}

.bmiWrapper {
  padding: 0;
  padding-block: 2rem;
}

.bmiContents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bmiChart {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.bmiChartTable {
  width: 100%;
  /* border: 1px solid; */
  border-collapse: collapse;
}
.bmiChartTable tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bmiChartTable tr th {
  color: white;
}
.bmiChartTable tr th,
.bmiChartTable tr td {
  padding: 10px;
  text-align: start;
}

.bmiCalculator {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.calculatorCredential {
  margin-top: 1rem;
  display: grid;
  gap: 0.5rem;
}

.heightAndWeight,
.ageAndSex {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.calculatorCredential input,
.calculatorCredential select {
  padding: 9px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: rgb(255 255 255 / 10%);
  color: inherit;
  width: 100%;
}
.calculatorCredential input:valid,
.calculatorCredential select:valid {

  color: var(--custom-red);

}

option {
  padding: 9px;
  background: rgb(255 255 255 / 10%);
  color: black !important;
}
option:hover {
  background: var(--custom-red);
}

.claculateBmi {
  width: fit-content;
  color: white;
  background: #e6533c;
  padding: 0.6rem 4rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.bmiBmrTdeeResults {
  width: 100%;
  display: grid;
  gap: 0.5rem;
}
.bmiBmrTdeeResults b {
  color: var(--custom-red);
}

@media (min-width: 800px) {
  .bmiContents {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }
}

/************** team section **************/

.teamwrapper {
  display: grid;
  gap: 2rem;
}
.teamMembers {
  background: var(--custom-gray);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.eachTeamMember {
  position: relative;
  width: 100%;
  aspect-ratio: 2/1.6;
  border-radius: 10px;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.eachTeamMemberInfo {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 2;
}
.eachTeamMemberInfo p {
  color: white;
}

@media (min-width: 576px) {
  .teamMembers {
    grid-template-columns: repeat(3, 1fr);
  }

  .eachTeamMember {
    aspect-ratio: 1/2;
  }
}
@media (min-width: 800px) {
  .eachTeamMember {
    aspect-ratio: 2/1.6;
  }
}

/************** footer section **************/

.footerSection {
  background: var(--custom-gray);
}
.footerWrapper {
  margin-bottom: 0;
}

.footerContents {
  display: grid;
  gap: 1.5rem;
  padding-block: 3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.footerHeader {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.footerContact {
  display: grid;
  gap: 0.3rem;
}

.footerContact div {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footerContact i {
  font-size: 1rem;
  color: var(--custom-red);
}

.footerMenus {
  display: grid;
  gap: 1rem;
}

.eachFooterMenu {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.footerMenuLinks {
  display: grid;
  gap: 0.5rem;
}
.footerMenuLinks a{
  width: fit-content;
}
.footerMenuLinks > a:hover {
  color: var(--custom-red);
}

.footerCopyRights {
  padding-block: 1.5rem;
  text-align: center;
}
.footerCopyRights a {
  animation-name: glowMyPortfolioLink;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.28, -0.08, 0.61, 1.04);
}

@keyframes glowMyPortfolioLink {
  0% {
    color: #e6533c;
  }

  25% {
    color: #ca2f18;
  }
  50% {
    color: #d84630;
  }
  75% {
    color: #f05c45;
  }
  100% {
    color: var(--custom-red);
  }
}

@media (min-width: 400px) {
  .footerMenus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }
}

@media (min-width: 576px) {
  .footerMenus {
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
  }
}
@media (min-width: 800px) {
  .footerContents {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .footerMenus {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
  }

  .eachFooterMenu {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }
}
